{% extends 'base.html' %}
{% block title %} 
Pokemon Info
{% endblock %}
{% block content %} 
<body style="background-image: url(https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=pexels-pixabay-257360.jpg&fm=jpg); background-size:cover;">
<h2 style="color: aliceblue;" >Name of Pokemon</h2>
  <form action="/pokemon" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.pokemon_name.label()}}
      {{form.pokemon_name(class="form-control")}}
    </div>
    <br>
    {{form.submit(class='btn btn-primary')}}
  </form>
  <div>
    <small style="color: red">{{error}}</small>
  </div>
  {% if pokemon_info %}
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base Experience</th>
        <th scope="col">URL for image</th>
        <th scope="col">Attack</th>
        <th scope="col">HP</th>
        <th scope="col">Defense</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{pokemon_info.Name}}</th>
        <td>{{pokemon_info.Ability}}</td>
        <td>{{pokemon_info.Base_experience}}</td>
        <td>{{pokemon_info.Url_for_front_shiny}}</td>
        <td>{{pokemon_info.Attack_base_state}}</td>
        <td>{{pokemon_info.hp_base_state}}</td>
        <td>{{pokemon_info.Defense_base_state}}</td>
      </tr>
    </tbody>
  </table>
</body>
<div class="card" style="width: 18rem; ">
  <img class="card-img-top" src="{{pokemon_info.Url_for_front_shiny}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{pokemon_info.Name}}</h5>
    <a href="{{url_for('main.confirm_catch')}}" class="btn btn-primary">Catch</a>
  </div>
</div>
  {% endif %}
{% endblock %}